table {
    text-align: center;
    table-layout: fixed;
}

div.fields {
    width: 100%;
}

div.ownField {
    float: left;
    width: 50%;
}


div.enemyField {
    float: left;
    width: 50%;
}

div.history {
    clear: left;
    width: 100%;
}