@(id: Int, p: PlayPlayer)

<head>
  <title>ship happens</title>
  <link rel="stylesheet"
        href="@routes.Assets.at("stylesheets/main.css")">
</head>

<body>
  <p>
    Hello player @id to ship-happens!
  </p>

  <div class="fields">
    <div class="ownField">
      @DrawOwnBoard(p.own)
    </div>

    <div class="enemyField">
      @DrawEnemyBoard(p.enemy)
    </div>
  </div>

  <div class="history">
    <p>
    <h1>History</h1>

      @for(move <- p.moves.take(10)) {
        @move <br/>
      }
    </p>
  </div>
</body>
